* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #54a309;

}

.logo {
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 20px auto;

}

main {
    width: 375px;
    border-radius: 20px;
    background: #F4F4F4;
    margin: 0 auto 40px;
    padding: 44px 24px 23px;

}

button {
    background-color: #54a309;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 327px;
    height: 48px;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;

}

label {
    color: #777;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}


button:hover {
    background-color: #429107;
    opacity: 0.8;
}

select,
input {
    width: 327px;
    height: 48px;
    border-radius: 5px;
    border: 1px solid #DADADA;
    margin-top: 8px;
    margin-bottom: 16px;
    padding: 0 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    cursor: pointer;

}

section {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

}

.currency {


    color: #777;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;

}

.currency-value, .currency-value-to-convert {
    color: #555;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;

}